body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hidden {
  transform: translateY(-150px);
}

@media (min-width: 430px)
{
  #root
  {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Montserrat", sans-serif;
  }

  main
  {
    flex: 1 0 auto;
    min-height: calc(100vh - 80px);
    margin-top: 120px;
  }

  footer {
    position: sticky;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
  }

  header, footer
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #000000;
    padding: 20px 0;
  }

  header
  {
    position: fixed;
    width: 100%;
    transition: transform 1s ease;
  }

  header nav a, footer nav a
  {
    margin: 0 10px;
    text-decoration: none;
    color: #FFFFFF;
  }

  header img{
    background-color: #FFFFFF;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
  }

  footer nav img
  {
    width: 35px;
    height: 35px;
  }

  p
  {
    font-size: 14px;
    margin-left: 25px;
    width: 75%;
  }

  .hamburger
  {
    display: none;
  }
}

@media (max-width:430px)
{
  #root
  {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
  }

  main
  {
    flex: 1 0 auto;
    min-height: calc(100vh - 80px);
    margin-top: 120px;
  }

  footer {
    position: sticky;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #a4b0be;
  }

  footer nav
  {
    padding: 10px 0;
  }


  header, footer
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: #000000;
    padding: 5px 0;
  }

  header
  {
    position: fixed;
    width: 100%;
    transition: transform 1s ease;
  }

  footer nav a
  {
    margin: 0 5px;
    text-decoration: none;
    color: #FFFFFF;
  }

  header img{
    background-color: #FFFFFF;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 20px 50px 0 50px;
  }

  .hamburger, .hamburger:active, .hamburger:focus {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    float: right;
    margin: 35px 50px;
    outline: none !important;
    border: none !important;
    appearance: none !important;
    z-index: 99999;
  }

  header div
  {
    width: 100%;
    z-index: 9999;
  }

  header nav
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -105%;
    width: 100%;
    background-color: #000000;
    height: 100vh;
    transition: 1s ease-in-out;

  }

  header nav.active
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: 1s ease-in-out;
  }

  header nav a
  {
    margin: 15px 50px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
  }


  footer nav img
  {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }

  p
  {
    font-size: 14px;
    margin-left: 25px;
    width: 75%;
  }


}
